@font-face {
  font-family: "Lego";
  src: url("../Tipografia/Legothick.ttf");
}
body {
  background-color: #f5f2b1;
}
body div {
  background-color: transparent !important;
  font-family: "Lego", sans-serif;
}
body .container {
  margin-top: auto;
}
body .fs-1 {
  font-size: 5rem !important;
}
body #menuInicial div.caja-menu {
  border: 5px solid #f5f2b1;
}
body #menuInicial div.caja-menu:hover {
  border-color: black;
}
body #menuInicial div.caja-menu a {
  text-decoration: none;
}
body #menuInicial #menuSets {
  background-image: url("../Imagenes/monton rojo.webp");
  background-size: cover;
}
body #menuInicial #menuFiguras {
  background-image: url("../Imagenes/montonazul.jpg");
  background-size: cover;
}
body #menuInicial #menuPiezas {
  background-image: url("../Imagenes/montonVerde.jpg");
  background-size: cover;
}
body #menuInicial #menuUsuario {
  background-image: url("../Imagenes/montonamarillo.jpg");
  background-size: cover;
  /*@media (max-width: 768px) {
    height: 18.3vh !important;
  }*/
}