@font-face {
  font-family: "Lego";
  src: url("../Tipografia/Legothick.ttf");
}

body{
  background-color: #f5f2b1;
  

  div {
    background-color: transparent !important;
    font-family: "Lego", sans-serif;
  }

  .container {
    margin-top: auto;
    
  }

  .fs-1 {
    font-size: 5rem !important;
  }


  #menuInicial {
  

  
    div.caja-menu {
      border: 5px solid #f5f2b1;
      
      
      &:hover {
        border-color: black;
      }
      a {
        text-decoration: none;
      }
    }

    #menuSets {
      background-image: url("../Imagenes/monton\ rojo.webp");
      background-size: cover;
    }

    #menuFiguras {
      background-image: url("../Imagenes/montonazul.jpg");
      background-size: cover;
    }

    #menuPiezas {
      background-image: url("../Imagenes/montonVerde.jpg");
      background-size: cover;
    }

    #menuUsuario {
      background-image: url("../Imagenes/montonamarillo.jpg");
      background-size: cover;

      /*@media (max-width: 768px) {
        height: 18.3vh !important;
      }*/
    }
  }
}
