@font-face {
  font-family: "Lego";
  src: url("../Tipografia/Legothick.ttf");
}

body {
  font-family: "Labrada", serif;
}

header {
  background-image: url("../Imagenes/barraNavegacion.jpg");
  background-size: contain;

  .tituloPrincipal {
    text-decoration: none;
    h1 {
      font-family: "Lego", serif;
      font-size: 60px;
    }
  }
}

main {
  #elemento {
    background-image: url("../Imagenes/fondo-lego2.png");
    background-size: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
